* {
  margin: 0;
  padding: 0;
  font-family: "Gabarito", serif;
}
.Whole-container {
  margin: 10px;
}
.Nav-bar {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  border-bottom: solid 1px black;
  align-items: center;
}
.Nav-bar__s1-head {
  color: #a159cc;
}

.Nav-bar__s2 {
  padding: 10px;
  border: solid 1px black;
  border-radius: 30px;
  width: 60%;
}
.Nav-bar__s2 input {
  border: none;
  width: 50%;
  margin-left: 10px;
  font-size: 16px;
}
.Nav-bar__s2 input:focus {
  outline: none;
}
.Nav-bar__s3 {
  display: flex;
  gap: 10px;
}
.categories {
  display: flex;
  justify-content: space-around;
  border-bottom: solid 1px black;
  padding: 5px;
}
.categories p {
  background-color: #a159cc;
  color: white;
  padding: 10px;
  border-radius: 30px;
  margin: 15px;
  cursor: pointer;
  border: solid #a159cc 1px;
}
.categories p:hover {
  background-color: transparent;
  transition: 1s;
  border: solid #a159cc 1px;
  color: black;
}
.sale-img img {
  width: 100%;
  height: 360px;
  border-bottom: solid 5px beige;
  z-index: 1;
}
.sale-img__pop {
  width: fit-content;
  height: fit-content;
  position: relative;
  bottom: 300px;
  left: 70px;
  animation-name: zoom;
  opacity: 0;
  animation-fill-mode: forwards;
  animation-duration: 2s;
}

@keyframes zoom {
  0% {
    transform: scale(0.7);
    opacity: 0.5;
  }
  100% {
    transform: translate(1);
    opacity: 1;
  }
}
.sale-img__pop img {
  width: 350px;
  height: 100px;
  box-shadow: 2px 2px 5px 1px;
  border-radius: 20px;
}
.Recommended__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.course-card {
  margin-top: 40px;
  width: 250px;
  height: 330px;
  border-radius: 10px;
  border: solid 1px black;
  text-align: center;
  box-shadow: 5px 5px 5px 5px;
}
.course-card:hover{
    transition: 0.5s;
    transform:scale(1.1);
}
.course-card img {
  /* padding:x; */
  margin-top: 5px;
  width: 90%;
  height: 50%;
  position: relative;
  border-radius: 10px;

  /* left: 15px; */
}
.course-card:hover {
  opacity: 70%;
}
.topics {
  margin-top: 20px;
}
.topics_container {
  display: flex;
  margin-top: 10px;
  gap: 10px;
  flex-wrap: wrap;
}
.topics_container p {
  border: solid 1px black;
  padding: 10px;
  flex: 1;
  flex-basis: 25%;
}
.topics_container p:hover {
  padding: 5px;
}
.footer__container {
  margin: -100;
  padding: 0;
  width: 100%;
  margin-top: 20px;
  background-color: black;
  color: white;
}
.footer__section-one {
  display: flex;
  gap: 20px;
}
.footer__section-one p {
  margin: 20px;
}
.footer__section-one-1 {
  background-color: black;
  padding: 20px;
}
.footer__section-one-2 {
  padding: 20px;
  margin-left: 20px;
  /* margin-top: 5px; */
}
.footer__section-two {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
